<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ivt.blueftp">

    <uses-sdk android:minSdkVersion="14" />

    <permission-group android:name="android.permission-group.STORAGE" >
    </permission-group>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application android:name=".BlueFtpApp" android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <activity
            android:name="com.ivt.blueftp.activity.FileListActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="net.appositedesigns.fileexplorer.action.OPEN_FOLDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
